### Importing the necessary libraries

In [27]:
import pandas as pd
import os
pd.options.mode.chained_assignment = None

#### Merge files together to form a single file

In [10]:
all_data = pd.DataFrame()
files = [file for file in os.listdir("./sales_data")]
files
for file in files:
    df = pd.read_csv(f"./sales_data/{file}")
    all_data = pd.concat([all_data, df])
#all_data.tail()
all_data.to_csv("all_data.csv", index=False)

##### Reading data from the merged csv's

In [17]:
df = pd.read_csv("all_data.csv")

#### Data Cleaning

##### Drop rows with NAN

In [22]:
nan_df = all_data[all_data.isna().any(axis=1)]
all_data = all_data.dropna(how='all')

##### Remove 'O' from the Order date

In [25]:
all_data = all_data[all_data['Order Date'].str[0:1] != 'O']
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,4/30/2019 9:27,"333 8th St, Los Angeles, CA 90001",4
...,...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",0
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",0
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",0
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",0
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",0

#### Add more important columns

##### Add month column

In [29]:
all_data["Month Name"] = "January"
all_data["Month"] = all_data["Order Date"].str[0:1]
all_data["Month"] = all_data["Month"].astype("int32")

#convert monnth numbers to names


all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Month Name
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001",4,January
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215",4,January
3,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4,January
4,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4,January
5,176561,Wired Headphones,1,11.99,4/30/2019 9:27,"333 8th St, Los Angeles, CA 90001",4,January

#### Question 1: What was the best month for sales? How musch was earned that month?